/*Reset CSS*/
* {
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

p#title {
	font-size: 5em;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.progress {
	background: #333;
	border-radius: 13px;
	height: 1.5em;
	width: 30em;
	padding: 3px;
	position: relative;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-45%, -50%);
	transform: translate(-45%, -50%);
}

.progress:after {
	content: '';
	display: block;
	background: green;
	width: 50%;
	height: 100%;
	border-radius: 9px;
}

div#id1:after{
	width: 50%;
}

div#id2:after{
	width: 20%;
}

div#id3:after{
	width: 85%;
}

#red {
	color: red;
}

#div_1 {
	height: 100vh;
	background-color: rgba(0, 255, 255, 0.4);
	text-align: center;
}

span#skill_1, span#skill_2, span#skill_3 {
  position: relative;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-45%, -50%);
	transform: translate(-45%, -50%);
}

#div_2 {
	height: 100vh;
	background-color: rgba(165, 42, 42, 0.4);
  position: relative;
}

#div_3 {
	height: 100vh;
	background-color: rgba(137, 43, 226, 0.4);
  position: relative;
}

@media (max-device-width: 640px) {
	p#title {
		font-size: 7em;
	}
}

body{
	background-image: url("main_background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}